@import 'toolkit.css';

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 500ms ease;
}

a.current {
  color: gold;
}

a.current:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  transition: width 300ms linear;
}

a:hover {
  color: var(--dark-blue);
}
button {
  transition: all 250ms ease;
}

button:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

button:active,
button:focus {
  outline: none;
}

#pr-nav {
  display: flex;
  height: 30vh;
  background: var(--light-blue);
  border-bottom: gold 5px solid;
}

#pr-nav h3 {
  margin: auto;
  color: #fff;
  font-size: 2rem;
}

#pr-nav ul {
  display: flex;
}

#pr-nav ul li {
  margin-right: 20px;
  list-style: none;
  z-index: 2;
}

#pr-nav #art {
  position: absolute;
  width: 350px;
  right: 20px;
  top: 50px;
  z-index: 1;
}

#nav-bar {
  background: var(--light-blue);
}

#nav-bar ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

#nav-bar ul li {
  padding: 20px;
}

#nav-bar ul li a {
  position: relative;
  letter-spacing: 0.1rem;
  padding: 20px;
  font-size: 20px;
}

#nav-bar ul li a:after {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  transition: width 300ms linear;
}

#nav-bar ul li a:hover {
  font-weight: 500;
}

#nav-bar ul li a:hover:after {
  width: 100%;
}

.container {
  margin: 20px;
}

.container header #flo {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-bottom: 30px;
  text-align: center;
}

.container header #flo #description {
  margin: 0 auto;
  padding: 20px;
}

.container header #flo h1 {
  margin: 0 auto;
  width: 80%;
  color: var(--light-blue);
}

.container header #flo h1:after {
  content: '';
  display: block;
  width: 250px;
  height: 5px;
  background-color: var(--light-blue);
  margin: 15px auto 0;
  border-radius: 15px;
}

.container header #flo h3 {
  color: var(--light-blue);
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.container header #flo h3:after {
  content: '';
  display: block;
  width: 150px;
  height: 5px;
  background-color: var(--light-blue);
  margin: 15px auto 0;
  border-radius: 15px;
}

.container header #flo p {
  margin: 0px auto 30px;
  font-size: 18px;
  line-height: 1.4rem;
}

.container header #flo img {
  border-radius: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

.container header #flo button {
  border: 3px solid var(--light-blue);
  transition: all 250ms ease-in;
}
.container header #flo button#button:hover {
  border-color: var(--dark-blue);
}

.container header h2 {
  width: 300px;
  margin: 0 auto 20px;
  border-bottom: transparent 5px solid;
  padding: 10px 0;
  transition: all 300ms ease-in;
}

.container header #intro:hover h2 {
  width: 500px;
  border-bottom: gold 5px solid;
  transform: translateY(10px);
  cursor: pointer;
  color: gold;
}

.container header #intro {
  background: var(--light-blue);
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 70%;
  text-align: center;
  margin: 0 auto 20px;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

.container header #intro #img-intro {
  display: flex;
  justify-content: space-around;
}

.container header #intro img {
  border-radius: 5px;
  transition: opacity 250ms linear;
}

.container header #intro img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container header #intro button {
  cursor: pointer;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}

.osteo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
}

.osteo div {
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  background: var(--light-blue);
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  color: #fff;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

.osteo div:nth-of-type(odd) {
  background: var(--dark-blue);
}

.osteo a {
  color: white;
}

.osteo a h2 {
  width: 70%;
  color: #fff;
  margin: 14px auto;
  border-bottom: transparent 3px solid;
  padding-bottom: 10px;
  transition: border-bottom 250ms linear;
}

.osteo a:hover h2 {
  border-bottom: white 3px solid;
}

.osteo a:hover img {
  opacity: 0.9;
}

.osteo div img {
  border-radius: 25px;
}

.osteo div p {
  margin: 20px 30px;
}

.osteo button {
  cursor: pointer;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}

#reviews {
  text-align: center;
  color: #fff;
  background: var(--light-blue);
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

#temoignages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.temoignage {
  padding: 10px;
  border: 3px solid var(--light-blue);
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

.temoignage h3 {
  padding: 5px 0;
  width: 300px;
  margin: 0 auto;
  font-size: 1.4rem;
  border-bottom: double 5px #fff;
}

.temoignage:nth-child(even) {
  color: gold;
  background: var(--dark-blue);
  border: none;
}
.temoignage:nth-child(odd) {
  color: #fff;
  background: var(--light-blue);
}

.temoignage1 {
  grid-column: 1/3;
}
.temoignage2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.temoignage3 {
  grid-column: 1/3;
}
.temoignage7 {
  grid-column: 2/5;
}

/* CANNABIDIOL */

/* #cbd {
  position: relative;
  text-align: center;
}

#cbd .bubble img {
  width: 200px;
  border: 5px solid var(--light-purple);
  border-radius: 50%;
}

#cbd .bubble:first-child {
  position: absolute;
  left: 250px;
  top: 50px;
}

#cbd .bubble:nth-child(2) {
  position: absolute;
  left: 150px;
  top: 400px;
}

#cbd .bubble:nth-child(3) {
  position: absolute;
  right: 250px;
  top: 50px;
}

#cbd .bubble:nth-child(4) {
  position: absolute;
  right: 150px;
  top: 400px;
}

#cbd .bubble {
  transition: transform 250ms ease;
}

#cbd .bubble:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#cbd:before {
  content: '';
  width: 80%;
  height: 5px;
  display: block;
  background-color: var(--light-blue);
  margin: 20px auto 30px;
}

#cbd #cbd-intro {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 24px auto 50px;
  padding: 30px;
  background-color: var(--dark-blue);
  color: #fff;
}

#cbd #cbd-intro h1 {
  position: absolute;
  margin: 10px auto;
  width: 400px;
  padding-bottom: 10px;
  padding-top: 0px;
  border-bottom: #fff 5px solid;
  top: 10px;
  left: 35%;
}

#cbd #cbd-intro img {
  border-radius: 50%;
}

#cbd #cbd-intro p {
  padding: 24px;
  padding-top: 50px;
  margin-top: -43px;
  background-color: #8a2be2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#cbd #products {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
  padding: 16px;
  border: 3px solid var(--light-purple);
  border-radius: 15px;
}

#cbd .product:first-child {
  border-right: 3px solid var(--light-purple);
}

#cbd .product:last-child {
  border-left: 3px solid var(--light-purple);
}

#cbd #products a {
  color: var(--light-blue);
}

#cbd #products a:hover {
  color: var(--light-purple);
}

#cbd #products h3 {
  font-size: 24px;
  width: 50%;
  margin: 0 auto 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: var(--light-blue) 3px solid;
}
#cbd #products img {
  border: var(--light-blue) solid 5px;
  border-radius: 50%;
  transition: all 250ms ease;
}

#cbd #products img:hover {
  cursor: pointer;
  border-color: var(--dark-blue);
  transform: scale(0.98);
}

#cbd #products button {
  cursor: pointer;
  font-size: 24px;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: 3px solid var(--light-blue);
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  transition: all 250ms ease-in;
}

#cbd #products button:hover {
  border-color: var(--dark-blue);
} */

/* OSTEOPATHIE */

#origin {
  border-right: 5px solid var(--light-blue);
  border-left: 5px solid var(--light-blue);
  border-radius: 25px;
  padding: 15px 50px;
}

#origin h2 {
  color: var(--dark-blue);
  width: 300px;
  padding-bottom: 5px;
  margin-left: 100px;
  border-bottom: 5px solid var(--dark-blue);
}

#origin h3 {
  text-align: center;
  margin-bottom: 30px;
}

.history-box {
  display: flex;
  margin: 15px 0;
}

.history-box div {
  margin: auto 0;
}

.history-box:nth-of-type(1) h3,
.history-box:nth-of-type(3) h3 {
  margin-left: 15px;
}

.history-box:nth-of-type(1) p,
.history-box:nth-of-type(3) p {
  padding: 20px 0;
  border-top: 3px solid var(--light-blue);
  border-bottom: 3px solid var(--light-blue);
}
.history-box:nth-of-type(2) {
  flex-direction: row-reverse;
}

.history-box:nth-of-type(2) p {
  padding: 20px 0;
  margin-right: 20px;
  border-top: 3px solid var(--light-blue);
  border-bottom: 3px solid var(--light-blue);
}

.history-box img {
  border-radius: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

.history-box p {
  margin: auto;
  margin-left: 15px;
}

#technique-title {
  text-align: center;
  color: var(--light-blue);
  font-size: 2rem;
  padding: 15px;
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
}

#techniques {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#techniques .technique {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #ccc 5px 5px 5px;
  padding: 20px;
  background: var(--light-blue);
  color: #fff;
  border: 5px solid transparent;
  border-radius: 15px;
  transition: all 250ms ease-in;
}

#techniques .technique:hover {
  border: 5px solid #fff;
  cursor: pointer;
}

#techniques .technique:nth-child(even) {
  background: var(--dark-blue) 25%;
}

#techniques .technique h3 {
  font-size: 2rem;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 5px;
  border-bottom: transparent 5px solid;
  transition: all 250ms ease-in;
}

#techniques .technique:hover h3 {
  color: gold;
  border-bottom: var(--dark-blue) 5px solid;
}

#techniques .technique:nth-child(2):hover h3,
#techniques .technique:nth-child(3):hover h3 {
  border-color: var(--light-blue);
}

#techniques .technique img {
  width: 350px;
  height: auto;
  border: 5px solid transparent;
  border-radius: 50%;
  transition: all 250ms ease-in;
}

#techniques .technique:hover img {
  border: 5px solid #fff;
  opacity: 0.9;
}

/* CONSULTATION OSTEO */

#consult-title {
  color: var(--light-blue);
  font-size: 2rem;
  text-align: center;
  position: relative;
}

#consult-title:after {
  display: block;
  content: '';
  width: 50%;
  height: 5px;
  background-color: var(--dark-blue);
  border-radius: 15px;
  position: absolute;
  left: 25%;
  bottom: -10px;
}

#consultations {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  background: var(--light-blue);
  padding-left: 15px;
  border-radius: 15px;
}

#consultations div {
  display: flex;
  align-items: center;
  height: 50vh;
  padding: 0 20px;
  border-radius: 25px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

#consultations div h2 {
  color: #fff;
  margin-left: 20px;
  padding-right: 10px;
}

#consultations div p {
  font-size: 1.1rem;
  padding-top: 50px;
  padding-bottom: 50px;
  align-self: center;
  text-align: center;
  color: #fff;
}

#consultations div p:first-of-type {
  border-right: 5px solid var(--dark-blue);
  border-left: 5px solid var(--dark-blue);
  padding: 0 20px;
}

#consultations div p:nth-of-type(2) {
  margin-left: 20px;
}

#container h2 {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  text-align: center;
  padding: 20px;
  padding-top: 150px;
  align-items: center;
  align-self: stretch;
  border-radius: 15px;
  width: 500px;
}

#consultations img {
  width: 450px;
  border-radius: 50%;
}

#consult-prix h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 15px;
  padding: 20px;
  background-color: var(--light-blue);
  color: #fff;
  border-radius: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

#consult-prix #time {
  padding-bottom: 5px;
  border-radius: 15px;
  border-bottom: 5px solid gold;
}

#consult-prix #prix {
  display: inline-block;
  padding: 5px;
  border-bottom: 5px solid gold;
  border-radius: 15px;
  line-height: 30px;
}

/* Qui suis je? */

/* CONTACT PAGE*/

#google-map {
  margin: 30px auto;
}

#google-map iframe {
  border-radius: 5px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

#contact-flo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact-flo h1 {
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
  color: var(--light-blue);
  position: relative;
}

#contact-flo h1:after {
  display: block;
  content: '';
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#contact-form {
  text-align: center;
  border: 3px solid var(--light-blue);
  border-radius: 15px;
  margin-top: 20px;
  padding: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

#contact-form div h2 {
  border-bottom: 3px solid var(--light-blue);
}

#description #flo-email {
  font-weight: 800;
  color: var(--light-blue);
}

#description #flo-email:hover {
  color: var(--dark-blue);
}

#description span {
  font-weight: 800;
  color: var(--light-blue);
}

#contact-form div label {
  display: inline-block;
  text-align: left;
  font-weight: 800;
  width: 80px;
  margin-right: 5px;
}

#contact-form input:active,
#contact-form input:focus,
#contact-form textarea:focus,
#contact-form textarea:active {
  outline: none;
}

#contact-form div input {
  width: 200px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
}

#contact-form div textarea {
  font-size: 14px;
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 15px;
  width: 565px;
  height: 180px;
  margin-bottom: 15px;
}

#contact-form button[type='submit']:active {
  font-weight: 800;
  color: var(--light-blue);
}

#rendez-vous {
  margin-right: 50px;
  text-align: center;
}

#rendez-vous h2 {
  border-bottom: 3px solid var(--light-blue);
}

#rendez-vous a {
  color: var(--light-blue);
  font-weight: 800;
  font-size: 2rem;
  border-bottom: 3px solid transparent;
  transition: all 250ms ease-in;
}

#rendez-vous a:hover {
  border-bottom: 5px solid var(--dark-blue);
}

footer {
  position: relative;
  color: #fff;
  background-color: var(--light-blue);
  padding: 20px;
}

footer #rendez-vous {
  box-shadow: var(--dark-blue) 5px 5px 5px;
  padding: 20px;
  border: 5px solid var(--dark-blue);
  border-radius: 15px;
  color: var(--dark-blue);
  width: 50%;
  margin: 0 auto;
}

footer #rendez-vous:hover {
  cursor: pointer;
}

footer #rendez-vous h2 {
  color: #fff;
  width: 500px;
  margin: 0 auto 20px;
  border-bottom: transparent 5px solid;
  transition: all 250ms ease-in;
}

footer #rendez-vous:hover h2 {
  color: gold;
  transform: translateY(10px);
  border-bottom: gold 5px solid;
}

footer p {
  color: #fff;
}

footer #rendez-vous a {
  color: #fff;
  border-bottom: transparent 5px solid;
  transition: all 250ms ease-in;
}

footer #rendez-vous a:hover {
  color: #fff;
  border-bottom: #fff 5px solid;
}

footer a {
  color: #fff;
  border-bottom: transparent 3px solid;
  transition: all 250ms ease-in;
}

footer a:hover {
  border-bottom: var(--dark-blue) 3px solid;
}

.footer-content {
  font-size: 18px;
  margin: auto;
  text-align: center;
}

footer #creator {
  position: absolute;
  bottom: 0;
}

@media all and (max-width: 500px) {
  img {
    max-width: 300px;
  }

  #pr-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    background: var(--light-blue);
    border-bottom: gold 5px solid;
    text-align: center;
  }

  #pr-nav h3 {
    line-height: 3rem;
  }

  #pr-nav img {
    display: none;
  }

  #pr-nav .social {
    position: relative;
  }

  #pr-nav .social ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0px;
  }

  #pr-nav .social ul li {
    margin-right: 0;
    padding-right: 5px;
  }
  #pr-nav .social ul li:first-of-type {
    padding-bottom: 490%;
  }
  #pr-nav .social ul li:nth-of-type(2) {
  }

  #nav-bar ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  header #flo {
    display: block !important;
  }

  .container header #intro {
    background: var(--light-blue);
    font-size: 18px;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 70%;
    text-align: center;
    margin: 0 auto 20px;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  header #intro h2 {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  header #intro #img-intro {
  }

  header #intro img:nth-of-type(2),
  header #intro img:nth-of-type(3) {
    display: none;
  }

  .osteo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .osteo div {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    background: var(--light-blue);
    border-radius: 15px;
    padding: 25px 20px;
    font-size: 18px;
    color: #fff;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  #temoignages {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .temoignage h3 {
    padding: 5px 0;
    width: 300px;
    margin: 0 auto;
    font-size: 1.4rem;
    border-bottom: double 5px #fff;
  }

  .temoignage:nth-child(even) {
    color: gold;
    background: var(--dark-blue);
    border: none;
  }
  .temoignage:nth-child(odd) {
    color: #fff;
    background: var(--light-blue);
  }

  .temoignage1 {
    grid-column: 1/2;
  }
  .temoignage2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .temoignage3 {
    grid-column: 1/2;
  }
  .temoignage7 {
    grid-column: 1/2;
  }

  /* OSTEOPATHIE */

  #origin {
    border-right: 5px solid var(--light-blue);
    border-left: 5px solid var(--light-blue);
    border-radius: 25px;
    padding: 15px 15px;
  }

  #origin h2 {
    color: var(--dark-blue);
    width: 100%;
    padding-bottom: 5px;
    margin-left: 0;
    text-align: center;
    border-bottom: 5px solid var(--dark-blue);
  }

  #origin img {
    width: 100%;
    height: 100%;
  }

  #origin h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  .history-box {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .history-box div {
    margin: auto 0;
  }

  .history-box:nth-of-type(1) h3,
  .history-box:nth-of-type(3) h3 {
    color: var(--dark-blue);
    margin-left: 15px;
  }

  .history-box:nth-of-type(1) p,
  .history-box:nth-of-type(3) p {
    padding: 20px 0;
    border-top: 3px solid var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
  }
  .history-box:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }

  .history-box:nth-of-type(2) p {
    padding: 20px 0;
    margin-right: 20px;
    border-top: 3px solid var(--light-blue);
    border-bottom: 3px solid var(--light-blue);
  }

  .history-box img {
    border-radius: 15px;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  .history-box p {
    margin: auto;
    margin-left: 15px;
  }

  #technique-title {
    text-align: center;
    color: var(--light-blue);
    font-size: 2rem;
    padding: 15px;
    border-top: 5px solid var(--dark-blue);
    border-bottom: 5px solid var(--dark-blue);
  }

  #techniques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #techniques .technique {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: #ccc 5px 5px 5px;
    padding: 10px;
    background: var(--light-blue);
    color: #fff;
    border: 5px solid transparent;
    border-radius: 15px;
    transition: all 250ms ease-in;
  }

  #techniques .technique:hover {
    border: 5px solid #fff;
    cursor: pointer;
  }

  #techniques .technique:nth-child(even) {
    background: var(--dark-blue) 25%;
  }

  #techniques .technique h3 {
    font-size: 2rem;
    text-align: center;
    padding: 0 20px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: transparent 5px solid;
    transition: all 250ms ease-in;
  }

  #techniques .technique:hover h3 {
    color: gold;
    border-bottom: var(--dark-blue) 5px solid;
  }

  #techniques .technique:nth-child(2):hover h3,
  #techniques .technique:nth-child(3):hover h3 {
    border-color: var(--light-blue);
  }

  #techniques .technique img {
    width: 350px;
    height: auto;
    border: 5px solid transparent;
    border-radius: 50%;
    transition: all 250ms ease-in;
  }

  #techniques .technique:hover img {
    border: 5px solid #fff;
    opacity: 0.9;
  }

  /* CONSULTATION OSTEO */

  #consult-title {
    color: var(--light-blue);
    font-size: 2rem;
    text-align: center;
    position: relative;
  }

  #consult-title:after {
    display: block;
    content: '';
    width: 50%;
    height: 5px;
    background-color: var(--dark-blue);
    border-radius: 15px;
    position: absolute;
    left: 25%;
    bottom: -10px;
  }

  #consultations {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: var(--light-blue);
    padding-left: 15px;
    padding-top: 30px;
    border-radius: 15px;
  }

  #consultations div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    border-radius: 25px;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  #consultations div h2 {
    color: #fff;
    margin-left: 20px;
    padding-right: 10px;
  }

  #consultations div p {
    font-size: 1.1rem;
    padding-top: 50px;
    padding-bottom: 50px;
    align-self: center;
    text-align: center;
    color: #fff;
  }

  #consultations div p:first-of-type {
    border-right: 5px solid var(--dark-blue);
    border-top-right-radius: 15px;
    border-left: 5px solid var(--dark-blue);
    border-top-left-radius: 15px;
    padding: 0 20px;
  }

  #consultations div p:nth-of-type(2) {
    margin-left: 0px;
    border-right: 5px solid var(--dark-blue);
    border-bottom-right-radius: 15px;
    border-left: 5px solid var(--dark-blue);
    border-bottom-left-radius: 15px;
    padding: 0 20px;
  }

  #container h2 {
    color: var(--dark-blue);
    background-color: var(--light-blue);
    text-align: center;
    padding: 20px;
    padding-top: 150px;
    align-items: center;
    align-self: stretch;
    border-radius: 15px;
    width: 500px;
  }

  #consultations img {
    width: 450px;
    border-radius: 50%;
  }

  #consult-prix h3 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 0px;
    padding: 20px;
    background-color: var(--light-blue);
    color: #fff;
    border-radius: 15px;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  #consult-prix #time {
    padding-bottom: 8px;
    border-radius: 15px;
    border-bottom: 5px solid gold;
  }

  #consult-prix #prix {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 5px solid gold;
    border-radius: 15px;
    line-height: 30px;
  }

  /* Qui suis je? */
  #description #whoami {
    width: 100%;
  }

  #description #whoami + h3 {
    margin-top: 10px;
  }

  /* CONTACT PAGE*/

  #contact-flo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #google-map {
    margin: 0 auto;
  }

  #google-map iframe {
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  #contact-flo h1 {
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
    color: var(--light-blue);
    position: relative;
  }

  #contact-flo h1:after {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #contact-form {
    text-align: center;
    border: 3px solid var(--light-blue);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
  }

  #contact-form div h2 {
    border-bottom: 3px solid var(--light-blue);
  }

  #description {
    margin: 0 auto;
    text-align: center;
  }

  #description h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 100%;
  }

  #description #flo-email {
    font-weight: 800;
    color: var(--light-blue);
  }

  #description #flo-email:hover {
    color: var(--dark-blue);
  }

  #description span {
    font-weight: 800;
    color: var(--light-blue);
  }

  #contact-form div label {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 800;
    width: 80px;
  }

  #contact-form input:active,
  #contact-form input:focus,
  #contact-form textarea:focus,
  #contact-form textarea:active {
    outline: none;
  }

  #contact-form div input {
    width: 200px;
    margin: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
  }

  #contact-form div textarea {
    font-size: 14px;
    margin-top: 15px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 15px;
    width: 80%;
    height: 180px;
    margin-bottom: 15px;
  }

  #contact-form button[type='submit']:active {
    font-weight: 800;
    color: var(--light-blue);
  }

  #rendez-vous {
    margin-right: 0px;
    padding-bottom: 15px;
    border-bottom: 5px solid var(--dark-blue);
    text-align: center;
  }

  #rendez-vous h2 {
    margin-top: 15px;
    color: var(--dark-blue);
    border-bottom: 5px solid var(--light-blue);
  }

  #rendez-vous a {
    color: var(--light-blue);
    font-weight: 800;
    font-size: 2rem;
    border-bottom: 3px solid transparent;
    transition: all 250ms ease-in;
  }

  #rendez-vous a:hover {
    border-bottom: 5px solid var(--dark-blue);
  }

  /* Footer */

  footer #rendez-vous {
    box-shadow: var(--dark-blue) 5px 5px 5px;
    padding: 20px;
    border: 5px solid var(--dark-blue);
    border-radius: 15px;
    color: var(--dark-blue);
    width: 80%;
    margin: 0 auto;
  }

  footer #rendez-vous h2 {
    width: 100%;
  }

  footer .footer-content {
    font-size: 1.4rem;
  }

  footer .footer-content p {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #fff;
  }

  footer #creator {
    position: relative;
    padding-top: 10px;
    text-align: center;
  }

  footer #creator:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 2;
  }
}
