@import 'toolkit.css';

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 500ms ease;
}

a.current {
  color: var(--godlen-color);
}

a.current:before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  transition: width 300ms linear;
}

a:hover {
  color: var(--godlen-color);
}
button {
  transition: all 250ms ease;
}

button:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

button:active,
button:focus {
  outline: none;
}

#pr-nav {
  display: flex;
  height: 30vh;
  background: var(--dark-blue);
  border-bottom: var(--godlen-color) 5px solid;
}

#pr-nav h3 {
  margin: auto;
  color: var(--godlen-color);
  font-size: 2rem;
}

#pr-nav ul li {
  margin: 20px;
  list-style: none;
}

#nav-bar {
  background: var(--dark-blue);
}

#nav-bar ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

#nav-bar ul li {
  padding: 20px;
}
#nav-bar ul li a {
  position: relative;
  letter-spacing: 0.1rem;
  padding: 20px;
  font-size: 20px;
}

#nav-bar ul li a:after {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  transition: width 300ms linear;
}

#nav-bar ul li a:hover {
  font-weight: 500;
}

#nav-bar ul li a:hover:after {
  width: 100%;
}

.container {
  margin: 20px;
}

.container header #flo {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-bottom: 30px;
  text-align: center;
}

.container header #flo #description {
  margin: 0 auto;
  padding: 20px;
}

.container header #flo h1 {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 80%;
  color: var(--dark-blue);
  border-bottom: var(--godlen-color) 5px solid;
}

.container header #flo h3 {
  color: var(--dark-blue);
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.container header #flo h3:after {
  content: '';
  display: block;
  width: 250px;
  height: 5px;
  background-color: var(--godlen-color);
  margin: 20px auto 0;
}

.container header #flo p {
  margin: 0px auto 30px;
  font-size: 18px;
  line-height: 1.4rem;
}

.container header #flo img {
  border-radius: 15px;
}

.container header #flo button {
  border: 3px solid var(--dark-blue);
  transition: all 250ms ease-in;
}
.container header #flo button#button:hover {
  border-color: var(--godlen-color);
}

.container header h2 {
  width: 300px;
  margin: 0 auto 20px;
  border-bottom: transparent 5px solid;
  padding: 10px 0;
  transition: all 300ms ease-in;
}

.container header #intro:hover h2 {
  width: 500px;
  border-bottom: var(--godlen-color) 5px solid;
  transform: translateY(10px);
  cursor: pointer;
  color: var(--godlen-color);
}

.container header #intro {
  background-color: rgba(8, 8, 102, 0.9);
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 20px 30px;
  border-radius: 15px;
}

.container header #intro #img-intro {
  display: flex;
  justify-content: space-around;
}

.container header #intro img {
  border-radius: 5px;
  transition: opacity 250ms linear;
}

.container header #intro img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container header #intro button {
  cursor: pointer;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}

.osteo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  text-align: center;
  justify-content: space-around;
}

.osteo div {
  display: flex;
  flex-direction: column;
  background: var(--dark-blue);
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  color: #fff;
}

.osteo div:first-child,
.osteo div:last-child {
  background-color: var(--godlen-color);
  color: var(--dark-blue);
}
.osteo a {
  color: white;
}

.osteo a h2 {
  width: 70%;
  color: rgba(8, 8, 102, 0.9);
  margin: 14px auto;
  border-bottom: transparent 3px solid;
  padding-bottom: 10px;
  transition: border-bottom 250ms linear;
}

.osteo div:nth-child(2) a h2,
.osteo div:nth-child(2) p {
  color: var(--godlen-color);
}

.osteo a:hover h2 {
  border-bottom: white 3px solid;
}

.osteo a:hover img {
  opacity: 0.9;
}

.osteo div img {
  border-radius: 25px;
}

.osteo div p {
  margin: 20px 30px;
}

.osteo button {
  cursor: pointer;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}

#cbd {
  position: relative;
  text-align: center;
}

#cbd .bubble img {
  width: 200px;
  border: 5px solid var(--light-purple);
  border-radius: 50%;
}

#cbd .bubble:first-child {
  position: absolute;
  left: 250px;
  top: 50px;
}

#cbd .bubble:nth-child(2) {
  position: absolute;
  left: 150px;
  top: 400px;
}

#cbd .bubble:nth-child(3) {
  position: absolute;
  right: 250px;
  top: 50px;
}

#cbd .bubble:nth-child(4) {
  position: absolute;
  right: 150px;
  top: 400px;
}

#cbd .bubble {
  transition: transform 250ms ease;
}

#cbd .bubble:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#cbd:before {
  content: '';
  width: 80%;
  height: 5px;
  display: block;
  background-color: var(--dark-blue);
  margin: 20px auto 30px;
}

#cbd #cbd-intro {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 24px auto 50px;
  padding: 30px;
  background-color: var(--godlen-color);

  color: #fff;
}

#cbd #cbd-intro img {
  border-radius: 50%;
}

#cbd #cbd-intro p {
  padding: 24px;
  padding-top: 50px;
  margin-top: -43px;
  background-color: #8a2be2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#cbd #products {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
  padding: 16px;
  border: 3px solid var(--light-purple);
  border-radius: 15px;
}

#cbd .product:first-child {
  border-right: 3px solid var(--light-purple);
}

#cbd .product:last-child {
  border-left: 3px solid var(--light-purple);
}

#cbd #products a {
  color: var(--dark-blue);
}

#cbd #products a:hover {
  color: var(--light-purple);
}

#cbd #products h3 {
  font-size: 24px;
  width: 50%;
  margin: 0 auto 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: var(--dark-blue) 3px solid;
}
#cbd #products img {
  border: var(--dark-blue) solid 5px;
  border-radius: 50%;
  transition: all 250ms ease;
}

#cbd #products img:hover {
  cursor: pointer;
  border-color: var(--godlen-color);
  transform: scale(0.98);
}

#cbd #products button {
  cursor: pointer;
  font-size: 24px;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: 3px solid var(--dark-blue);
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  transition: all 250ms ease-in;
}

#cbd #products button:hover {
  border-color: var(--godlen-color);
}

/* CONTACT PAGE */
#contact-form {
  text-align: center;
  border: 3px solid var(--dark-blue);
  border-radius: 15px;
  padding: 15px;
  box-shadow: rgba(143, 143, 143, 0.7) 5px 5px 5px;
}

#contact-form div h2 {
  border-bottom: 3px solid var(--dark-blue);
}

#contact-form div label {
  display: inline-block;
  text-align: left;
  font-weight: 800;
  width: 80px;
  margin-right: 5px;
}

#contact-form input:active,
#contact-form input:focus,
#contact-form textarea:focus,
#contact-form textarea:active {
  outline: none;
}

#contact-form div input {
  width: 200px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
}

#contact-form div textarea {
  font-size: 14px;
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 15px;
  width: 565px;
  height: 180px;
  margin-bottom: 15px;
}

footer {
  color: #fff;
  background-color: var(--dark-blue);
  padding: 20px;
}

.footer-content {
  font-size: 18px;
  margin: auto;
  text-align: center;
}
