:root {
  --dark-blue: rgba(24, 24, 190, 0.9);
  --light-blue: rgb(73, 182, 234);
  --background: rgba(233, 209, 255, 0.61);
}

#button {
  cursor: pointer;
  margin: auto;
  width: 10rem;
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}
